/* GLOBAL RESETS */

* {
  box-sizing:border-box;
  padding:0;
  margin:0;
}


/* BODY STYLES */

body {
  background-color:#f1f1f1;
  font-family: 'Roboto Condensed', sans-serif;
}


/* GLOBAL SPACING CSS */

.small-space-above {
  margin-top:1em;
}

.moderate-space-above {
  margin-top:3em;
}

.large-space-above {
  margin-top:6em;
}

.small-space-below {
  margin-bottom:1em;
}

.moderate-space-below {
  margin-bottom:3em;
}

.large-space-below {
  margin-bottom:6em;
}

/* GLOBAL CENTER CSS */

.center {
  text-align:center;
}

.centerBlock {
  display:block;
  margin:0 auto;
}



/* HEADER STYLING */

.banner-title {
  font-size:3em;
  color:#426fb7;
}

/* BOOKMARK STYLING */

.bookmark-container {
  width:80%;
  background-color:white;
  border:1px dotted black;
  height:29em;
  margin:0 auto;
  border-radius:10px;
  overflow:scroll;
  overflow-x:hidden;  
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  align-items:center;
  flex-grow:4px;
  
}


.bookmark {
  margin:1em;
  list-style:none;
  width:12em;
  height:4em;
  background-color:#426fb7;
  border-radius:10px;
  color:white;
  cursor:pointer;
  box-shadow: 3px 3px 3px black;
}



.bookmark-title {
  padding-top:10px;
}


.static-view-item-container {
  position:fixed;
  background-color:white;
  border:1px dotted black;
  height:30em;
  width:31em;
  border-radius:10px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 5px 5px 5px black;
  padding:1em;
  overflow:hidden;
  top:10em;
}

.static-view-item-container button {
  height:3em;
  width:7em;
  border-radius:10px;
  border:none;
  background-color:black;
  color:white;
  font-size:1.1em;
  cursor:pointer;
}

.static-view-item-container form {
  
  text-align:center;
}


.static-view-item-container input {
  background-color:transparent;
  border:none;
  font-size:1.2em;
  height:2em;
}

.bookmark-search-label {
  /* color:white; */
}

.add-bookmark-container {
  background-color:white;
  border:1px dotted black;
  padding:1em;
  width:80%;
  margin:0 auto;
  border-radius:10px;
}

.add-bookmark-container input {
  padding:6px;
  font-size:1.1em;
  border-radius:2px;
  border:1px dotted black;;

}

.add-bookmark-button {
  width:8em;
  height:3em;
  background-color:black;
  color:white;
  border:none;
  border-radius:10px;
  font-size:1.1em;
  margin-right:10px;
}

.static-button-div {
  display:flex;
  margin-top:1em;
  justify-content:center;

}

.static-button-div button{
  margin:10px;
}

.wider-button {
  width:22em !important;
  background-color:#ccb33d !important;
  border:1px dotted black !important;
  color:black !important;
  cursor:pointer;
}

.zoom-bookmark-title {
  font-size:2em !important;
  color:#426fb7;
}


.search-filter-container {
  display:flex;
  justify-content:center;
  width:80%;
  margin:0 auto;
  height:2em;
  margin-bottom:.5em;
  margin-top:.5em;
}


.rating-filter-container {
  width:100%;
  display:flex;
  justify-content:center;
}


.bookmark-rating-filter-container {
  display:flex;
}

.reset-all-button {
  width:7em;
  border:none;
  background-color:black;
  color:white;
  font-size:1.1em;
  border-radius:4px;
  padding:4px;
  margin-left:1em;
  font-weight:bold;
}

.zoom-bookmark-title-edit-form {
  display:flex;
  justify-content:center;
}

.zoom-bookmark-title-edit {
    font-size: 2em !important;
    text-align:center;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight:bold;   
}


.zoom-bookmark-description-edit {
  width:80%;
  min-height:4em;
  font-family: 'Roboto Condensed', sans-serif;
  font-size:1.1em;
}